/* GENERALES */

body {
    font-family: 'Poppins';
    color: white;
    margin: 0;
}

.flex-fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-columna {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

.seleccionado {
    transform: scale(1.04);
    text-decoration: underline;
}

/* BARRA DE INFORMACIÓN */
#barra-info {
    background-color: black;
    padding-left: 2%;
    padding-right: 5%;
    justify-content: space-between;
}

#imagen-gh {
    display: block;
    width: 3vw;
    margin-left: 5px;
}

#contenedor-general {
    display: grid;
    margin-top: 1px;
    height: 80vh;
    grid-template-areas: "barra-lateral contenido";
    grid-template-columns: 15% 85%;
}

/* BARRA SECCIONES */ 
#barra-menu {
    background-color: rgb(88, 88, 88);
    max-height: 80vh;
    font-size: 4vh;
    font-weight: 300;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.borde {
    border: 3px solid black;
}

.boton-menu {
    transition: transform 70ms ease;
    cursor: pointer;
}

/* CONTENIDO PRINCIPAL */
.contenido-principal {
    margin: 2vw;
    display: grid;
    grid-template-rows: 10% 90%;
}

#menu-seccion {
    font-size: 3.5vh;
    justify-content: space-around;
    min-height: 8vh;
    background-color: black;
}

.contenedor-formulario {
    display: flex;
    padding: 0;
    color: black;
    justify-content: center;
}

.boton-submit {
    width: 8vw;
    font-family: 'Poppins';
    font-size: large;
    box-shadow: 2px 2px 4px gray;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    margin-left: 50px;
    padding-left: 10px;
}

form {
    align-items: center;
}

h2 {
    font-size: 4vh;
    margin: 0;
    padding: 0;
}

.color-negro {
    color: black;
}

.contenedor-selectores {
    align-items: center;
}

/* EFECTOS */

a:hover {
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    transform: scale(1.05);
}

a:hover #imagen-gh {
    filter: drop-shadow(0px 0px 1px white);
    transform: scale(1.05);
}

.boton-menu:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}
